body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e5d7b9; 
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2e3c6; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.contact-icons {
  text-align: right;
}

.contact-icons .icon-button {
  display: inline-block;
  font-size: 24px;
  color: #5a4636; 
  padding: 10px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact-icons .icon-button:hover {
  color: #8c6d54; 
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  margin: 0;
  color: #5a4636; 
}

.header p {
  margin-top: 5px;
  color: #8c6d54; 
}

.main {
  margin-top: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.main h2 {
  margin-top: 20px;
  color: #5a4636; 
}

.main p {
  margin-bottom: 10px;
  color: #333; 
}

ul li {
  color: #5a4636; 
}

.contact-buttons .button {
  background-color: #8c6d54; 
  color: #ffffff; 
}

.contact-buttons .button:hover {
  background-color: #5a4636; 
}

